.alert {
  $default-border-width: $border-width;
  $default-bg-color: transparent;
  $default-border-radius: $border-radius;

  position: relative;
  padding: 12px 20px;
  margin: 8px 0;
  border: $default-border-width solid $default-bg-color;
  border-radius: $default-border-radius;
  @each $key, $colors in $theme-colors {
    &.#{$key} {
      @if $key== "dark" {
        color: $gray-200;
      } @else {
        color: darken($colors, 20);
      }
      background-color: lighten($colors, 40);
      border-color: lighten($colors, 10);
    }
  }
}
