.box {
  $default-margin-top: $component-margin-top;
  $default-margin-bottom: $component-margin-bottom;

  &-component {
    margin-top: $default-margin-top;
    margin-bottom: $default-margin-bottom;
  }

  &-form {
    margin-bottom: $default-margin-bottom;
  }
}
