.btn {
  $default-font-size: $font-size-base;
  $default-icon-size: $font-size-base - 2;
  $default-line-height: $line-height-base;
  $default-border-radius: $border-radius;
  $default-color: $white;
  $exception-color: $black;
  $default-bg-color: transparent;
  $default-border-color: transparent;
  $default-transition: all 0.15s ease-in-out;
  $default-border-width: $border-width;

  display: inline-block;
  color: $default-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $default-bg-color;
  border: $default-border-width solid $default-border-color;
  padding: 6px 12px;
  margin-right: 5px;
  font-size: $default-font-size;
  line-height: $default-line-height;
  border-radius: $default-border-radius;
  transition: $default-transition;
  > i {
    font-size: $default-icon-size;
    margin-right: 5px;
  }
  &.sm {
    padding: 3px 6px;
    font-size: $default-font-size/1.2;
    > i {
      font-size: $default-icon-size/1.6;
    }
  }
  &.full {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;
  }

  @each $key, $colors in $theme-colors {
    &-#{$key} {
      @if ($key == "warning") {
        color: $exception-color;
      } @else {
        color: $default-color;
      }
      background-color: $colors;
      border-color: $colors;
      @include hover {
        background-color: darken($colors, 7);
        border-color: darken($colors, 7);
      }
    }
  }
}
