.chatbot {
  $default-font-size: $font-size-base;
  $default-border-radius: $border-radius;
  $default-border-width: $border-width;
  $exception-border-width: 5px;
  $default-border-color: $gray-400;
  $default-bubble-bg-color: $gray-400;
  $default-result-color: $white;
  $default-result-bg-color: $cyan;

  dt {
    padding: 10px 5px 10px 16px;
    border-top: $exception-border-width solid $default-border-color;
    border-bottom: $default-border-width solid $default-border-color;
    border-left: $default-border-width solid $default-border-color;
    border-right: $default-border-width solid $default-border-color;
    border-top-right-radius: $default-border-radius;
    border-top-left-radius: $default-border-radius;
    font-size: $default-font-size;
    @include clear;
    > strong {
      font-size: $default-font-size;
      float: left;
    }
    .noti {
      float: right;
      .btn {
        padding: 0 0 0 6px;
        margin-left: 0;
        color: darken($default-border-color, 10);
        @include hover {
          color: darken($default-border-color, 40);
        }
      }
    }
  }
  dd {
    padding: 10px 16px;
    border: $default-border-width solid $default-border-color;
    border-bottom-right-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
    .bot,
    .user {
      position: relative;
      padding: 10px 45px 5px;
      min-height: 40px;
      background: url("../images/bot.png") no-repeat left top;
      p {
        display: inline-block;
        padding: 5px 10px;
        margin: 0 0 0 10px;
        border-radius: $default-border-radius;
        background: $default-bubble-bg-color;
      }
      &:after {
        content: "◀";
        position: absolute;
        left: 46px;
        top: 13px;
        color: $default-bubble-bg-color;
      }
      &.result {
        p {
          background: $default-result-bg-color;
          color: $default-result-color;
        }
        &:after {
          color: $default-result-bg-color;
        }
      }
    }
    .user {
      text-align: right;
      background: url("../images/user.png") no-repeat right top;
      &:after {
        content: "▶";
        position: absolute;
        left: auto;
        right: 46px;
        top: 13px;
        color: $default-bubble-bg-color;
      }
      p {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}

@include mob {
  .chatbot dd .bot {
    padding-right: 0;
  }
  .chatbot dd .user {
    padding-left: 0;
  }
}
