html,
body {
  height: 100%;
  min-width: 320px;
  #root {
    height: 100%;
    min-width: 320px;
  }
  textarea {
    $text-area-padding: 5px;

    &.cke_source {
      width: calc(100% - #{$text-area-padding * 2}) !important;
      height: calc(100% - #{$text-area-padding * 2}) !important;
      padding: $text-area-padding;
      box-sizing: content-box;
    }
  }
}
