div.contentsWrap {
  position: relative;
  min-height: calc(100% - #{$global-default-height});
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $zindex-contentswrap;

  div.contents {
    padding: 15px;
    z-index: $zindex-contents;
    transition: $transition-base;
  }
  &.active {
    aside.sidebar {
      left: 0;
    }
    div.contents {
      margin-left: $sidebar-default-width;
    }
  }
}

aside.sidebar {
  $default-font-size: $font-size-base;
  $default-icon-font-size: $font-size-base;

  position: absolute;
  left: $sidebar-default-width * -1;
  width: $sidebar-default-width;
  min-height: 100%;
  background: $basic;
  z-index: $zindex-sidebar;
  transition: $transition-base;
  li {
    background: transparent;
    border-bottom: 1px solid lighten($basic, 15);
    a {
      display: block;
      padding: 15px 10px 15px 15px;
      color: $menu-button-default-color;
      transition: $transition-base;
      i {
        display: inline-block;
        height: $sidebar-icon-default-height;
        line-height: $sidebar-icon-default-height;
        margin-right: 10px;
        font-size: $default-icon-font-size;
        vertical-align: top;
        &.downbullet {
          float: right;
          font-size: $default-icon-font-size !important;
          margin-right: 0;
          transition: $transition-base;
        }
      }
      span {
        display: inline-block;
        max-width: calc(100% - 50px); //155px;
        font-size: $default-font-size;
        word-break: break-all;
      }
    }
    &.active {
      background: darken($basic, 10);
      > a > i.downbullet {
        transform: rotate(90deg);
      }
      &:hover {
        background: darken($basic, 10);
      }
      & > ul.sub {
        max-height: 1920px;
      }
    }
    &:hover {
      background: darken($basic, 12);
    }
    @at-root ul.sub {
      background: lighten($basic, 15);
      overflow: hidden;
      max-height: 0;
      padding: 0 6px;
      transition: $transition-collapse;
      li {
        background: darken($basic, 3);
        &:first-child {
          margin-top: 4px;
          border-radius: $border-radius $border-radius 0 0;
        }
        &:last-child {
          margin-bottom: 4px;
          border-radius: 0 0 $border-radius $border-radius;
          border-bottom: 0;
        }
      }
      ul.sub {
        background: lighten($basic, 20);
      }
    }
  }
}

@include mob {
  div.contentsWrap {
    min-height: calc(100% - #{$global-default-height});
    div.contents {
      position: relative;
      padding: 15px;
      left: 0;
    }
    &.active div.contents {
      left: 235px;
      margin-left: 0;
    }
  }
}
