footer.footer {
  height: $footer-default-height;
  padding: 15px 15px 0;
  overflow: hidden;
  border-top: 1px solid lightgray;
  z-index: $zindex-footer;
  div.copyright {
    float: left;
  }
  div.version {
    float: right;
  }
}

@include mob {
  footer.footer {
    height: $footer-default-height;
    padding: 10px 10px 0;
    font-size: rem(12px);
    div.copyright {
      strong {
        display: block;
      }
    }
  }
}
