/* 스킵 네비게이션 */
#skipnavi {
  font-size: 0;
  background: $basic;
  ul {
    text-align: center;
    line-height: 0;
    li {
      display: inline-block;
      line-height: 0;
      font-size: 0;
      a {
        display: inline-block;
        width: 159px;
        line-height: 0;
        height: 0;
        border: 0px solid #1e88e5;
        background: #fff;
        text-align: center;
        overflow: hidden;
        color: #1e88e5;
        font-size: $font-size-base;
        &:focus {
          border: 2px solid #1e88e5;
          line-height: 30px;
          height: auto;
        }
      }
    }
  }
}

@include mob {
  #skipnavi {
    display: none;
  }
}
