.badge {
  $default-font-size: $font-size-base - 4;
  $default-line-height: $line-height-base - 0.5;
  $default-color: $white;
  $exception-color: $black;
  $default-border-radius: $border-radius;
  $default-border-radius-fill: $border-radius * 2;
  $default-font-weight: $font-weight-bold;

  display: inline-block;
  padding: 3px 6px;
  margin-left: 5px;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $default-border-radius;
  &.fill {
    border-radius: $default-border-radius-fill;
  }
  &:first-child {
    margin-left: 0;
  }

  @each $key, $colors in $theme-colors {
    &.#{$key} {
      @if $key == "warning" or $key == "light" {
        color: $exception-color;
      } @else {
        color: $default-color;
      }
      background-color: $colors;
      border-color: $colors;
      &[href] {
        @include hover {
          background-color: darken($colors, 7);
          border-color: darken($colors, 7);
        }
      }
    }
  }
}
