// breadcrumb
.breadcrumbs-wrap {
  $default-bg-color: $gray-300; // 기본 컴포넌트 백그라운드 색상
  $default-border-radius: $border-radius; // 컴포넌트 기본 radius
  $default-bullet: "〉"; // 컴포넌트 기본 블릿
  $active-color: $gray-600;

  padding: 12px 16px;
  margin-bottom: 16px;
  background-color: $default-bg-color;
  border-radius: $default-border-radius;
  overflow: hidden;
  .breadcrumbs {
    float: right;
    overflow: hidden;
    .breadcrumb-item {
      float: left;
      padding-left: 7px;
      & + .breadcrumb-item::before {
        content: $default-bullet;
        display: inline-block;
        padding-right: 7px;
      }
      &.active {
        color: $active-color;
      }
    }
  }
}
