.color-picker {
  $default-border-radius: $border-radius; // 컴포넌트 기본 radius

  position: relative;
  display: flex;
  justify-content: flex-start;
  .color-swatch {
    padding: 2px;
    background: #fff;
    border: 1px solid #ccc;
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
    border-right: 0;
    display: inline-block;
    cursor: pointer;
    > div {
      width: 28px;
      height: 27px;
      border-radius: $default-border-radius;
    }
    + input {
      &[type="text"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &[readonly] {
        background: #fff;
        text-indent: 5px;
      }
    }
  }
  .color-popover {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    .color-cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
