.drag-lists {
  $default-border-radius: $border-radius; // 컴포넌트 기본 radius

  background: #e9ecef;
  border-radius: $default-border-radius;
  padding: 4px;
  .drag-items {
    border: 1px solid #ccc;
    border-radius: $default-border-radius;
    background: #fff;
    user-select: none;
    padding: 16px;
    @include clear;
    p {
      float: left;
      max-width: calc(100% - 125px);
      margin-bottom: 0;
      .title {
        display: inline-block;
        font-size: 16px;
        font-style: normal;
        max-width: calc(100% - 35px);
      }
      .badges {
        display: inline-block;
        margin-left: 30px;
        
      }
      i {
        display: inline-block;
        padding: 5px;
        margin-right: 10px;
        background: #e9ecef;
        border: 1px solid #ccc;
        font-size: 12px;
        vertical-align: top;
        &:hover {
          background: #ccc;
          cursor: move;
        }
      }
    }
    .box-inline {
      float: right;
    }
    &.dragging {
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
}

@include mob {
  .drag-lists {
    .drag-items {
      p {
        float: none;
        max-width: 100%;
        .badges {
          display: block;
        }
      }
      .box-inline {
        float: none;
        margin-top: 10px;
        text-align: right;
      }
    }
  }
}
