.pagination-wrap {
  $disabled-color: $gray-600; // 비활성화 아이템 텍스트 색상
  $disabled-border-color: $gray-300; // 비활성화 아이템 라인색상
  $default-border-radius: $border-radius; // 컴포넌트 기본 radius
  $default-color: $blue; // 기본 아이템 텍스트 컬러
  $default-bg-color: $white; // 기본 아이템 bg 컬러
  $hover-bg-color: $gray-200; // hover 아이템 bg컬러
  $active-color: $white; // 활성화 아이템 텍스트 컬러
  $active-bg-color: $blue; // 활성화 아이템 bg 컬러
  $default-line-height: $line-height-base;

  .pagination {
    overflow: hidden;
    padding-left: 0;
    border-radius: $default-border-radius;
    .page-item {
      float: left;
      .page-link {
        position: relative;
        display: block;
        padding: 8px 12px;
        margin-left: -1px;
        line-height: $default-line-height;
        color: $default-color;
        background-color: $default-bg-color;
        border: 1px solid $gray-300;
        &:hover {
          z-index: 2;
          color: darken($default-color, 15);
          text-decoration: none;
          background-color: $hover-bg-color;
          border-color: $gray-300;
        }
      }

      &:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: $default-border-radius;
        border-bottom-left-radius: $default-border-radius;
      }

      &.disabled .page-link {
        color: $disabled-color;
        pointer-events: none;
        cursor: auto;
        background-color: $default-bg-color;
        border-color: $disabled-border-color;
      }

      &.active .page-link {
        z-index: 1;
        color: $active-color;
        background-color: $active-bg-color;
        border-color: $active-bg-color;
      }
    }
  }
}

@include mob {
  .pagination-wrap {
    text-align: center;
    .pagination {
      display: inline-block;
      .page-item {
        .page-link {
          padding: 4px 10px;
        }
      }
    }
  }
}
