.selectbox-wrap,
.selectboxMulti-wrap {
  $default-border-radius: $border-radius;
  $default-border-color: $gray-400;
  $default-shadow: 0 0 2px 1px rgba(77, 144, 254, 0.9);

  .selectbox {
    > div {
      border-radius: $default-border-radius;
    }
    > span + div {
      border-color: $default-border-color;
      box-shadow: $default-shadow;
    }
    div[class$="-multiValue"] {
      > div {
        text-overflow: clip;
        white-space: normal;
      }
    }
  }
  @at-root .selectboxMulti-wrap {
    min-width: 220px;
    .badge {
      margin-left: 5px;
    }
  }

  @include mob {
    @at-root .selectboxMulti-wrap {
      min-width: 100%;
    }
  }
}
