.table {
  $default-font-size: $font-size-base;
  $default-bg-color: $gray-300;
  $default-bg-color-deco: $gray-100;
  $excption-bg-color: transparent;
  $default-border-radius: $border-radius;
  $default-border-width: $border-width;
  $default-border-color: $gray-300;
  $active-bg-color: $gray-200;

  position: relative;
  margin-bottom: $component-margin-bottom;

  table {
    width: 100%;

    font-size: $default-font-size;

    caption {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
    }

    thead,
    tbody {
      border-right: $default-border-width solid $default-border-color;
      border-top: $default-border-width solid $default-border-color;
    }

    thead {
      th {
        vertical-align: bottom;
        border-bottom: 2px solid $default-border-color;
      }
    }
    @at-root .table.vertical {
      overflow-x: auto;
      table {
        min-width: 740px;
        tbody {
          tr {
            &:nth-of-type(odd) {
              background: $default-bg-color-deco;
            }
            @include hover {
              background-color: $active-bg-color;
            }
          }
        }
      }
    }

    th,
    td {
      position: relative;
      padding: 10px;
      border-left: $default-border-width solid $default-border-color;
      border-bottom: $default-border-width solid $default-border-color;
      span {
        word-break: keep-all;
      }
      &.table-ellipsis {
        &:after {
          content: "";
          display: inline-block;
        }
        > span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          left: 0;
          right: 0;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
